<form [formGroup]="form">
    <div class="form-group">
        <input class="form-control" type="text" placeholder="Название" formControlName="name">
    </div>

    <div class="form-group">
        <textarea class="form-control" placeholder="Название" formControlName="description"></textarea>
    </div>

    <div class="form-group">
        <input class="form-control" type="number" placeholder="Цена" formControlName="cost">
    </div>

    <div class="form-group">
        <input class="form-control" type="number" placeholder="Обьем" formControlName="volume">
    </div>
    <div class="form-group">
        <input type="file" #imagefile class="select-file-input" id="inputFile" (change)="fileChangeListener($event)">
        <button class="btn btn-dark" (click)="handleClickUploadPhoto()">Загрузить фото</button>
        <img class="upload-img" alt="" *ngIf="uploadPhoto" [src]="uploadPhoto">
    </div>

    <div class="form-group">
        <button class="btn btn-primary" (click)="onSubmit()" [disabled]="!form.valid">Создать</button>
    </div>
</form>
