<h1>Каталог</h1>
<div class="list">
  <div class="item" *ngFor="let item of list">
    <div class="item_img">
      <img [alt]="item.photo.name" [src]="item.photo.path ? item.photo.path : 'assets/noImg.png'">
    </div>
    <div class="item_description">
      <p class="item_description__name">{{item.name}} </p>
      <p class="item_description__cost">
        {{item.cost}} BYR
        <span class="item_description__volume"> {{item.cost}} </span>
      </p>
      <p class="item_description__about">{{item.description}}</p>
    </div>
  </div>
</div>

