.list{
    margin: 5px 0;
}

.item{
    display: flex;
    align-items: center;
    margin: 10px 0;
    background: #f0f0f025;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.item_img img {
    max-width: 150px;
    max-height: 150px;
}

.item_description{
    display: flex;
    margin: 0 10px;
    flex-direction: column;
}

.item_description__name{
    font-size: 20px;
    font-weight: 700;
}

.item_description__cost{
    font-size: 18px;
    color: red;
    font-weight: 600;
}

.item_description__volume{
    color: #000;
    margin-left: 20px;
}
